@model  Trvly.Models.Tour
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Tour</h2>
@using (Html.BeginForm("Create", "Tour"))
{
   <div class="form-group">

       @Html.LabelFor(m => m.Title)
       @Html.TextBoxFor(m=>m.Title, new { @class = "form-control" })
       @Html.ValidationMessageFor(m => m.Title)
   </div> 
    <div class="form-group">

    @Html.LabelFor(m => m.Description)
    @Html.TextAreaFor(m => m.Description, new { @class="form-control"})
    @Html.ValidationMessageFor(m => m.Description)
</div>
<div class="form-group">

    @Html.LabelFor(m => m.Days)
    @Html.TextBoxFor(m => m.Days, new { @class = "form-control"})
    @Html.ValidationMessageFor(m => m.Days)
</div>
<div class="form-group">

    @Html.LabelFor(m => m.Price)
    @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Price)
</div>
    <button type="submit" class="btn btn-primary">Post</button>
}
